:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  font-size: clamp(0.7rem, 3vw, 1rem);
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: clamp(1rem, 3vw, 1.6rem);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #101010;
    background-color: #ffffff;
    --navbar-bg-color: #ffffff;
    --divider-line-color: #d0d0d0; 
  }
  a:hover {
    color: #747bff;
    cursor: pointer;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Dynamic themes via data-theme */
:root[data-theme='light'] {
  color: #101010;
  background-color: #ffffff;
  --navbar-bg-color: #ffffff;
  --divider-line-color: #d0d0d0; 
}

:root[data-theme='dark'] {
  color: rgba(255, 255, 255, 0.87);
  background-color: #101010;
  --navbar-bg-color: #101010;
  --divider-line-color: #333; 
}

.main-container{
  max-width: 1200px;
}

nav{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding: 1rem clamp(2rem, 5%, 3rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  /* border-bottom: var(--divider-line-color) solid 1px; */
  background-color: var(--navbar-bg-color);
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-links{
  display: flex;
  gap: clamp(1rem, 2vw, 4rem);
}

.navbar-link{
  color: inherit;
  cursor: pointer;
}

.navbar-items {
  display: flex;
  gap: 1rem;
}

.menu-toggle {
  display: none; /* Hidden by default */
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 1.6rem;
  color: white;
}

.slide-menu {
  display: none;
  position: fixed;
  top: 0;
  right: -100%; /* Initially off-screen */
  width: 200px;
  height: 100%;
  background-color: var(--navbar-bg-color);
  box-shadow: -0.2rem 0 0.4rem rgba(0, 0, 0, 0.5);
  padding: 1.5rem 3rem;
  transition: right 0.3s ease-in-out;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
  text-align: left;
}

.slide-menu.open {
  right: 0; /* Slide in */
}

.slide-menu a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none; /* Hide the links */
  }

  .menu-toggle {
    display: block; /* Show the menu button */
  }

  .slide-menu {
    display: flex;
  }
}

.container{
  width: 100%;
  min-height: 100vh;
  top: 0;
  margin: 0;
  padding-top: 5rem;
}

footer{
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  padding-bottom: 2rem;
}

.footer-links{
  left: 0;
  right: 0;
  justify-content: center;
  display: flex;
  gap: clamp(1rem, 2vw, 4rem);
  padding-top: 2rem;
}

.footer-link{
  color: inherit;
  cursor: pointer;
}